<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
  <wb-module deploy-name="JavaServerFaces">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/META-INF"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/test"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/test/java"/>
    <property name="java-output-path" value="/target/classes"/>
        <property name="context-root" value="JSF_PrimeFaces_Hibernate"/>
  </wb-module>
</project-modules>
